body{
    background-image: linear-gradient( rgb(255, 8, 0), rgb(255, 145, 0));
    background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el cuerpo */
    background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace al desplazarse */
    line-height: 1; /* Establece la altura de línea del texto en 1 */
}