/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 50px 0;
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #17a2b8; /* Cambia este valor a tu color turquesa preferido */
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 24px;
  }
  
  .navbar-nav .nav-link {
    color: #fff;
  }
  #navbar.navbar {
     
    
    background-color: #17a2b8; /* Cambia este valor a tu color turquesa preferido */
    }
    .navbar-nav li.nav-item {
      list-style: none; /* Elimina los puntos de la lista */
   }
  
  /* Estilos para quitar los puntos de la lista en la barra de navegación */
  .nav-bar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
  }
  
  
  /* Estilos para las secciones */
  .skills-section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  
  .skills-section:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .skills-section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #17a2b8;
  }
  
  .skills-section h2 {
    font-size: 20px;
    margin-top: 20px;
    color: #333;
  }
  
  /* Estilos para las cajas de habilidades */
  .skill-box {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #17a2b8;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .skill-box:hover {
    background-color: #138496;
    transform: scale(1.05);
  }
  
  /* Estilos para los íconos */
  .fa-solid,
  .fa-brands {
    font-size: 18px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .fa-spin {
    animation: fa-spin 2s infinite linear;
  }
  
  @keyframes fa-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  
  