<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>pruebas</title>
   <link rel="stylesheet" href="/css/Stylesoptions.css" />

   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
   <nav class="navbar navbar-expand-md  fixed-top" id="nav-bar">
      <div class="container-fluid">
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="../index.html">
                  <i class="fa-solid fa-house"></i>
                  <a href="../index.html" class="button type1"></a>
               </a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#educacion">Educacion</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#cursos">Cursos</a>
            </li>
         </ul>
      </div>
   </nav>

   <div id="educacion" class="container-fluid">
      <h1><i class="fa-solid fa-user-graduate"></i> Educación</h1>
      <br />
      <div class="card">
         <div class="card-header">
            <h3><i class="fa-regular fa-clock"></i> 2013 - 2016</h3>
         </div>
         <h5>Liceo Pedro Regalado Videla Ordenes</h5>
         <p>Titulado técnico nivel medio en administración de empresas</p>
      </div>
      <br />
      <div class="card">
         <div class="card-header">
            <h3><i class="fa-regular fa-clock"></i> 2017 - 2019</h3>
         </div>
         <h5>Universidad de la serena</h5>
         <p>6 semestres cursados en ingenieria en computacion</p>
      </div>
      <br>
      <div class="card">
         <div class="card-header">
            <h3> <i class="fa-regular fa-clock"></i> 2020- 2022</h3>
         </div>
         <h5>Inacap</h5>
         <p>Egresado analistra programador</p>
      </div>
      <br>
   </div>

   <div id="cursos" class="container-fluid">
      <br>
      <h1> <i class="fa-solid fa-graduation-cap"></i> Cursos</h1>
      <br />
      <h3>Curso de contabilidad Sence</h3>
      <p>Curso de contabilidad</p>
      <br />
      <h3>Curso de altura lifetraining</h3>
      <p>Curso para realizar trabajos en altura.</p>
      <br />
      <h3>Manejo de extintores mutual</h3>
      <p>Curso para el correcto uso de extintores.</p>
      <br>
   </div>
</body>

</html>