<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Menú lateral responsive - MagtimusPro</title>

   <link rel="stylesheet" href="/css/Styles2.css">

   <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>

<body id="body">

   <header>
      <div class="icon__menu">
         <i class="fas fa-bars" id="btn_open"></i>
      </div>
   </header>

   <div class="menu__side" id="menu_side">

      <div class="name__page">
         <i class="fa fa-address-card-o"></i>
         <h4>Bastian Soto Pizarro</h4>
      </div>

      <div class="options__menu">

         <a href="../index.html" class="selected">
            <div class="option">
               <i class="fas fa-home" title="Inicio"></i>
               <h4>Inicio</h4>
            </div>
         </a>

         <a href="#">
            <div class="option">
               <i class="far fa-file" title="Portafolio"></i>
               <h4>Portafolio</h4>
            </div>
         </a>

         <a href="#">
            <div class="option">
               <i class="fas fa-video" title="Cursos"></i>
               <h4 id="Cursos">Cursos</h4>
            </div>
         </a>

         <a href="#">
            <div class="option">
               <i class="far fa-sticky-note" title="Blog"></i>
               <h4>Blog</h4>
            </div>
         </a>

         <a href="#">
            <div class="option">
               <i class="far fa-id-badge" title="Contacto"></i>
               <h4>Contacto</h4>
            </div>
         </a>

         <a href="#">
            <div class="option">
               <i class="far fa-address-card" title="Nosotros"></i>
               <h4>Nosotros</h4>
            </div>
         </a>

      </div>

   </div>

   <main>
      <h1 id="Titulo-cursos">Cursos</h1><br>
      <h3>Curso de contabilidad Sence</h3>
      <p>Curso de contabilidad</p>
      <br>
      <h3>Curso de altura lifetraining</h3>
      <p>Curso para realizar trabajos en altura.</p>
      <br>
      <h3> Manejo de extintores mutual</h3>
      <p>Curso para el correcto uso de extintores.</p>
   </main>

   <script src="../js/guion.js"></script>
</body>

</html>