<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia Laboral</title>
    <link rel="stylesheet" href="/css/Stylesexperience.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #17a2b8;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Experiencia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#2023">2023</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2022">2022</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2017">2017</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#2016">2016</a>
                    </li>
                </ul>
                <ul class="nav-bar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/index.html"><i class="fa-solid fa-house"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="timeline">
        <div class="event" id="2023">
            <div class="event-content">
                <div class="event-date">Mar 2021 - Actualmente</div>
                <div class="event-title">Mecánico Rema Tip - Top.</div>
                <div class="event-description">He desempeñado el rol de Mecánico Mantenedor, siendo responsable de la
                    mantención integral de cintas transportadoras. Mi labor incluye el cambio de polines, poleas y
                    motores reductores, así como el mantenimiento y reemplazo de raspadores. También tengo experiencia
                    en la modificación y colocación de gualderas, y he trabajado como ayudante desoldador.
                    Además, he tenido la oportunidad de liderar cuadrillas de hasta 12 personas, supervisando su
                    seguridad y asegurando el cumplimiento efectivo del trabajo. Estas tareas han sido realizadas tanto
                    en alturas como a nivel de piso. Para garantizar la seguridad, imparto charlas instructivas antes de
                    cada trabajo. Mi desempeño como líder me valió reconocimiento en el año 2022.
                </div>
            </div>
        </div>
        <div class="event" id="2022">
            <div class="event-content">
                <div class="event-date">Nov 2022 - Jun 2023</div>
                <div class="event-title">Bodeguero Rema Tip - Top</div>
                <div class="event-description">Como Bodeguero, mi principal responsabilidad es garantizar la eficiente
                    gestión y operación de la bodega de insumos y herramientas. Me encargo de conservar y preservar los
                    productos, así como mantener un control adecuado de las existencias. Semanalmente, elaboro informes
                    detallados sobre el estado de la bodega, incluyendo pérdidas, elementos dañados o vencidos, entre
                    otros datos relevantes.
                    Adicionalmente, genero un plan mensual para la gestión de la bodega, especialmente en días en los
                    que se controlan a más de 100 personas. Es esencial cubrir todos los requerimientos mínimos de estos
                    trabajadores para que puedan desempeñar sus labores de manera efectiva.
                    Como parte de mis funciones, también me aseguro de recibir y verificar la exactitud de los productos
                    entregados. Implemento procedimientos específicos para el almacenamiento seguro y ordenado de
                    sustancias químicas peligrosas, garantizando el cumplimiento de las normativas y regulaciones
                    correspondientes.
                </div>
            </div>
        </div>
        <div class="event" id="2017">
            <div class="event-content">
                <div class="event-date">Mar 2017 - Actualmente</div>
                <div class="event-title">Reparador de computadoras Freelance</div>
                <div class="event-description">Ofrezco servicios técnicos especializados en equipos informáticos,
                    brindando soluciones tanto en el diagnóstico de software como en hardware. Mi experiencia incluye
                    instalación de programas, antivirus, formateo, actualizaciones, controladores y recuperación de
                    archivos.
                    Realizo reparaciones precisas y eficientes en los componentes defectuosos de las computadoras,
                    abordando problemas de hardware, software, virus y malware. También me encargo del mantenimiento
                    preventivo para optimizar el rendimiento y prolongar la vida útil de los equipos. Si es necesario,
                    reemplazo piezas o componentes defectuosos por otros nuevos y compatibles.
                    Además, tengo habilidades en la optimización y armado de equipos informáticos para asegurar un
                    funcionamiento óptimo.
                </div>
            </div>
        </div>
        <div class="event" id="2016">
            <div class="event-content">
                <div class="event-date">Nov 2016 -Abr 2017</div>
                <div class="event-title">Bodeguero Mfc ingenieria y construccion</div>
                <div class="event-description">Gestionar la entrada y salida de herramientas, EPP e insumos,
                    asegurándose de que los niveles de inventario sean adecuados y de que se realicen las reposiciones
                    necesarias</div>
            </div>
        </div>
    </div>
    <script src="/js/experience.js"></script>
</body>

</html>