<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Experiencia</title>
   <link rel="stylesheet" href="/css/Styles.css" />

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
</head>

<body>
   <header>
   </header>


   <div class="container">
      <div class="row">
         <div class="col-md-4">
            <nav class="navegation-exp">
               <ul class="list-group list-group" id="info">
                  <li class="list-group-item">
                     <img src="/images/iconos/home.png" alt="experiencia-laboral" width="20">
                     <a href="../index.html" class="card-link">Home</a>
                  </li>
                  <li class="list-group-item active" id="item-active">
                     <img src="/images/iconos/experiencia-laboral.png" alt="experiencia-laboral" width="20">
                     <a href="/templates/experiencia.html" class="card-link">Experiencia laboral</a>
                  </li>
                  <li class="list-group-item">
                     <img src="/images/iconos/educacion2.png" alt="educacion" width="20">
                     <a href="/templates/educacion.html" class="card-link">Educacion</a>
                  </li>
                  <li class="list-group-item">
                     <img src="/images/iconos/habilidades.png" alt="" width="20">
                     <a href="/templates/habilidades.html" class="card-link">Habilidades</a>
                  </li>
                  <li class="list-group-item">
                     <img src="/images/iconos/proyectos.png" alt="" width="20">
                     <a href="/templates/proyectos.html" class="card-link">Proyectos</a>
                  </li>
                  <li class="list-group-item">
                     <img src="/images/iconos/contact-mail.png" alt="" width="20">
                     <a href="/templates/contacto.html" class="card-link">Contacto</a>
                  </li>
               </ul>
            </nav>

         </div>
         <div class="col-md-8">
            <p>
            <h1>EXPERIENCIA LABORAL</h1>
            <h3>PañoleroMFC, Andacollo</h3>
            <h6> Gestionar la entrada y salida de herramientas, epp e insumos.
               Mecanico-Pañolero</h6>


            <h3>Rema tip top, Andacollo</h3>
            <h6>
               Mecánico mantenedor, realizando mantención integral de cintas
               transportadoras, así como cambio de polines, poleas, mantención y
               cambio de motores reductores, mantención y cambio de raspadores,
               modificación y postura de gualderas, ayudante de soldador.
               Líder de cuadrillas de hasta 12 personas, en la cual estaba a cargo de su
               seguridad y cumplimiento del trabajo a realizar, todo esto tanto en altura,
               como a nivel de piso, realizando charlas instructivas y de seguridad antes
               del trabajo, siendo reconocido en el año 2022. Además de realizar tareas
               de bodeguero a cargo de herramientas y epp.
            </h6>

            </p>
         </div>
      </div>
   </div>

   <footer>
      <p>&copy; 2023 Mi Currículum. Todos los derechos reservados.</p>
   </footer>
</body>

</html>