<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="stylesheet" href="/css/Styles.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>

</head>
<header class="header-home">
    <div class="bg-5">
        <p id="saludo">Hola, mi nombre es</p>
        <h1 class="animated-shadow">Bastian Soto</h1>
    </div>
</header>

<body>
    <nav class="navegation-home">
        <ul class="list-group list-group-horizontal" id="info">
            <li class="list-group-item" id="item-inactive">
                <i class="fa-solid fa-briefcase "></i>
                <a href="templates/experiencia2.html" class="card-link">Experiencia laboral</a>
            </li>
            <li class="list-group-item" id="item-inactive">
                <i class="fa-solid fa-user-graduate "></i>
                <a href="/templates/educacion.html" class="card-link">Educacion</a>
            </li>
            <li class="list-group-item" id="item-inactive">
                <i class="fa-solid fa-shapes "></i>
                <a href="/templates/habilidades.html" class="card-link">Habilidades</a>
            </li>
            <li class="list-group-item" id="item-inactive">
                <i class="fa-solid fa-diagram-project"></i>
                <a href="/templates/proyectos.html" class="card-link">Proyectos</a>
            </li>
            <li class="list-group-item" id="item-inactive">
                <i class="fa-solid fa-address-book"></i>

                <a href="/templates/contacto.html" class="card-link">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="card" id="presentacion">
        <div class="card-body">
            <h4 class="card-title">Presentacion</h4>
            <p class="card-text">Bienvenido, este sitio web es más que un simple portafolio . es un espacio para
                Conozca más sobre la persona detrás de todo el trabajo. Disfrute de su
                viaje de exploración y conocerme mejor.</p>

            <div class="pies">
                <ul class="list-group list-group-horizontal" id="pres-rs">
                    <li>
                        <a class="dropdown-item" href="https://www.facebook.com/bastian.sotopizarro/"
                            style="padding-left: 5px;">
                            <i class="fa-brands fa-facebook fa"></i>
                        </a>
                    </li>
                    <li>
                        <a class=" dropdown-item" href="https://www.instagram.com/t.a.a.n.n/"
                            style="padding-left: 5px;">
                            <i class="fa-brands fa-instagram fa"></i>
                        </a>
                    </li>
                    <li>
                        <a class=" dropdown-item" href="www.linkedin.com/in/bastian-soto-pizarro"
                            style="padding-left: 5px;">
                            <i class="fa-brands fa-linkedin fa"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 Mi Currículum. Todos los derechos reservados.</p>
    </footer>
</body>

</html>